/* ==========================================================================
   DEFAULT THEME
   ========================================================================== */

/* Color codes used for the theme */
$gray                       : #5a5f63;
$dark-gray                  : mix(#000, $gray, 45%);
$darker-gray                : mix(#000, $gray, 65%);
$light-gray                 : #969ca1;
$lighter-gray               : #e6ded1;

/* Color codes used for the site */
$danger-color               : #ee5f5b;
$info-color                 : #2f7f93;
$notice-color               : #7a8288;
$success-color              : #62c462;
$warning-color              : #f89406;

/* Other basic settings for the template */
$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$global-transition          : all 0.2s ease-in-out;
$masthead-height            : 70px;
$navicon-width              : 28px;
$navicon-height             : 4px;
$sidebar-link-max-width     : 250px;
$sidebar-screen-min-width   : 1024px;

/* Default light theme for the site */
:root {
    --global-base-color                 : #{$gray};
    --global-bg-color                   : #fdf9f3;
    --global-footer-bg-color            : #f4efe7;
    --global-border-color               : #{$lighter-gray};
    --global-dark-border-color          : #c8c0b1;
    --global-code-background-color      : #f8f1e9;
    --global-code-text-color            : #3b3933;
    --global-fig-caption-color          : mix(#fff,  #{$dark-gray}, 30%);
    --global-link-color                 : #3f7fbf;
    --global-link-color-hover           : #2f5f8f;
    --global-link-color-visited         : #294364;  
    --global-masthead-link-color        : #383430;
    --global-masthead-link-color-hover  : #1f6a8d;    
    --global-text-color                 : #37332e;
    --global-text-color-light           : #8d8578;
    --global-thead-color                : #efe5d7;
}
